@{
    ViewData["Title"] = "Home Page";
}


    <div class="container text-center p-5 ">
        <h3>We connect organizations looking for volunteers with people ready to offer their time and efforts for various charitable and public initiatives in Bulgaria.</h3>
    </div>

<div class="row">
    <div class="col-sm-6 mb-3">
        <div class="card bg-body">
            <div class="card-body">
                <h5 class="card-title text-white">Percentage of participation</h5>
                <p class="card-text text-white">According to the latest data, about 20% of Bulgarians have participated in volunteer activities at least once a year.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card bg-body">
            <div class="card-body">
                <h5 class="card-title text-white">Popular areas of volunteering</h5>
                <p class="card-text text-white">The most popular are activities related to social services, education and culture, as well as environmental initiatives.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 mb-3">
        <div class="card">
            <div class="card-body bg-body">
                <h5 class="card-title text-white">Age groups</h5>
                <p class="card-text text-white">Volunteering is most common among young people (18-35 years), but there are significant numbers of active volunteers among older age groups as well.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body bg-body">
                <h5 class="card-title text-white">Motivation</h5>
                <p class="card-text text-white">The main motivations for volunteering include the desire to help others, personal development and social contact.</p>
            </div>
        </div>
    </div>
</div>